
/* .VPNavBar {
    border-bottom: 1px solid transparent !important;
    border-bottom-color: var(--vp-c-divider) !important;
} */

/* .VPNavBarTitle .title {
    border-bottom: unset !important;
} */

/* .VPContent {
    top: var(--vp-layout-top-height, 0px) !important;
} */
